trakt:
  acct1:
  add_list: Watchlist
deluge:
  username:
  password:
pushbullet:
  apikey: 
RssFeeds:
  TVshows:
    kat1: https://kat.cr/tv/?rss=1
    kat2: https://kat.cr/tv/?rss=2
    mininova: http://www.mininova.org/rss.xml?cat=8
    torrentz: https://torrentz.eu/feed_verified?q=tv
    torlock: http://www.torlock.com/television/rss.xml
  Movies:
    kat1: https://kat.cr/usearch/verified%3A1%20category%3Amovies/?rss=1
    kat2: https://kat.cr/usearch/verified%3A1%20category%3Amovies/?rss=2
    mininova: http://www.mininova.org/rss.xml?cat=4
    toorentz: https://torrentz.eu/feed_verified?q=movie
    torlock: http://www.torlock.com/movies/rss.xml
dirs:
  rootmedia: '/media/Entertainment/'
  down: '/media/Entertainment/check/'
  dmc: '/media/Entertainment/NewAdditions/'
  movies: '/media/Entertainment/Movies/'
  shows: '/media/Entertainment/Tv Shows/'
  prems: '/media/Entertainment/premieres/'
  stagmovies: '/media/Entertainment/check/staging/movies/'
  stagshows: '/media/Entertainment/check/staging/shows'
  stagprems: '/media/Entertainment/check/premieres/'
